*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}
.container{
    /* height: 100px; */
    background: linear-gradient(to right bottom,#ffa585,#45c5d8);
   border: 2px solid red;
   height: 30%;
   width: 30%;
   border-radius: 2rem;
}
input{
    height: 30px;
    width: 50%;
    border-radius: 2rem;
}
button{
    font-size: 20px;
    background-color: none;
    color: #0c0c0c;
    border: none;
    outline: none;
    border-radius: 1rem;
    width: 20%;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #45c5d8;
    color: #fff;
    width: 24%;
    font-size: 22px;
}